{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="header_promo">
    <div class="header_promo_background" style="background-image: url({% static 'img/promo.jpg' %})"></div>
    <div class="video_overlay"></div>
    <div class="header_promo_video">
        <video autoplay loop muted playsinline webkit-playsinline poster="#" preload="none"
               src="{% static 'promo/promo_header.mp4' %}"></video>
    </div>
    </div>
    <div class="header_promo_title">

    </div>
</header>


<div class="post-entry">
    <form action ="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Save" />
    </form>
</div>

{% endblock %}
